<link rel="icon" type="image/png" href="signup/images/icons/favicon.ico"/>	
<link rel="stylesheet" type="text/css" href="signup/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="signup/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="signup/css/util.css">	
<link rel="stylesheet" type="text/css" href="signup/css/main.css">

<div class="limiter">
		<div class="container-login100" style="background-image: url('login/images/sign1.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form" method="post" action="/register">
					<span class="login100-form-title p-b-49">
						 REGISTER
					</span>
					{{#if hasErrors}}
           			 <div class="alert alert-danger" style="color: red, font-weight: bold">
                		{{# each messages }}
                    	<p>{{this}}</p>
                		{{/each}}
            		</div>
        			{{/if}}

			<div class="wrap-input100 validate-input" data-validate = "Email is reauired">
            
				<span class="label-input100">Email</span>
				<input class="input100" type="text" id="email" name="email" placeholder="Type your Email ID">
            </div>
			<div class="wrap-input100" data-validate = "Password is reauired">
				<span class="label-input100">Password</span>
				<input class="input100" type="password" id="password" name="password" placeholder="Type your password here">
            </div>

					<br>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								REGISTER
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="www.facebook.com" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="www.twitter.com" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Login Using
						</span>
						<a href="/signin" class="txt2">
							Login
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

    <script src="signup/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="signup/vendor/animsition/js/animsition.min.js"></script>
	<script src="signup/vendor/bootstrap/js/popper.js"></script>
	<script src="signup/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="signup/vendor/select2/select2.min.js"></script>
	<script src="signup/vendor/daterangepicker/moment.min.js"></script>
	<script src="signup/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="signup/vendor/countdowntime/countdowntime.js"></script>
	<script src="signup/js/main.js"></script>

