<link rel="icon" type="image/png" href="signup/images/icons/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="signup/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="signup/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="signup/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="signup/css/util.css">
<link rel="stylesheet" type="text/css" href="signup/css/main.css">

<div class="limiter">
		<div class="container-login100" style="background-image: url('signup/images/sign.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form" method="post" action="/checkout" id="checkout-form">
					<span class="login100-form-title p-b-49">
						 ONLINE PAYMENT
					</span>
     <center><strong><h4>Total:  INR {{total}}</h4></strong></center>   
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name" class="label-input100">Name</label>
                        <input class="input100" type="text" id="name" class="form-control" required name="name" placeholder="Type your Name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address" class="label-input100">Address</label>
                        <input class="input100" type="text" id="address" class="form-control" required name="address" placeholder="Type your Address">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name" class="label-input100">Card Holder Name</label>
                        <input class="input100" type="text" id="card-name" class="form-control" required placeholder="Type your Card Holder Name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number" class="label-input100">Credit card Number</label>
                        <input class="input100" type="text" id="card-number" class="form-control" required placeholder="Type your Credit Card Number">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month" class="label-input100">Card Expiration Month</label>
                                <input class="input100" type="text" id="card-expiry-month" class="form-control" required placeholder="Type your expiration month">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year" class="label-input100">Card Expiration Year</label>
                                <input class="input100" type="text" id="card-expiry-year" class="form-control" required placeholder="Type your expiration year">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc" class="label-input100">CVC</label>
                        <input class="input100" type="text" id="card-cvc" class="form-control" required placeholder="Type your CVC">
                    </div>
                </div>
            </div>

     <center><button type="submit" class="btn btn-success">Buy Now</button></center>      
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>