<!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <div class="banner-bg"></div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="banner-text">
                        <h1>Discover something new with <span>TRANSIL</span> today</h1>
                        <p class="py-3">Find It....<i class="fas fa-search"></i> 
                            Love It....<i class="fas fa-heart"></i> Buy It....<i class="fas fa-shopping-bag"></i></p>
                        
                        <a href="#" class="secondary-btn">Explore now<span class="flaticon-next"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Category Area Starts -->
    <section class="category-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Find product by category</h2>
                        <p>Categoryvise products now just a fingertip far</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                       <img src="assets/images/cat1.png" alt="category">
                        <h4>Device accessories</h4>
                        <h5>100 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="assets/images/cat2.png" alt="category">
                        <h4>Cell Phones</h4>
                        <h5>40 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="assets/images/cat3.png" alt="category">
                        <h4>Clothing & Accessories</h4>
                        <h5>200 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="assets/images/cat4.png" alt="category">
                        <h4>Grocery & Gourmet food</h4>
                        <h5>160 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4 mb-lg-0">
                        <img src="assets/images/cat5.png" alt="category">
                        <h4>Electronics</h4>
                        <h5>150 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4 mb-lg-0">
                        <img src="assets/images/cat6.png" alt="category">
                        <h4>Music</h4>
                        <h5>50 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4 mb-md-0">
                        <img src="assets/images/cat7.png" alt="category">
                        <h4>Shoes, Handbags and sunglasses</h4>
                        <h5>180 varities</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center">
                        <img src="assets/images/cat8.png" alt="category">
                        <h4>Sports</h4>
                        <h5>80 varities</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End -->

    
    <!-- Feedback Area Starts -->
    <section class="employee-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Customer Feedback</h2>
                        <p>Feedback helps us to improve the quality</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="employee-slider owl-carousel">
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img employee1">
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>Ron Weasley</h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>It was an awesome experience at Transil!! The quality of products is too good and they have easy and secured payment gateway</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img employee2">
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>Jessie Crasta</h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>I had a great time shopping in this website!! They have variety of products at reasonable price!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feedback Area End -->